/* ==========================================================================
   CSS Imports
   ========================================================================== */
@import "normalize"; 
@import "foundation";

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* =====================================
   SASS Stuff
   ===================================== */
// Variables

$primary: #56524E; /*Dark Grey*/
$secondary: #a7a7a7; /*Light Grey*/
$tertiary: #e2001a; /*Red*/
$quaternary: #A30006; /*Burgundy*/
$quinary: #d2d2d2; /*Lightish Grey*/

/* =====================================
   Site Styles
   ===================================== */
body {
  font-size: 18px/26px; 
  font-family: "Lucida Grande",Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  color: $primary;
}


h1, h2, h3, h4, h5, h6 {
  font-family: "BlissPro-Heavy",Impact,sans-serif;
  color: $primary;
  margin-bottom: .2em;
}

h2 {
  text-transform: uppercase;
}

h4 {
  font-size: 1.3em;
}

p {
  font-size: .9em;
}

a {
  color: $tertiary;

  &:hover, &:focus {
    color: $secondary;
  }
}

h4.subheader {
  line-height: 1.4;
}

.subheader {
  font: 18px/26px "Lucida Grande",Helvetica,Arial,sans-serif;
  color: $secondary;
}

.top {
  .row {
    padding: 0;
  }
}


.row {
  padding: 1em 0;
}

.name {
  font-size: 1.3em;
  color: #fff;
  background: $primary;
}

.top-bar {
  background: #fff;
  .name h1 a {
    width: 100%;
    font-family: "BlissPro-Light",Impact,sans-serif;
  }
}

.bottom {
  background: #f7f6f6;
  min-height: 250px;
}

.nav {
  margin: 2em auto;
  li a {
    padding: .8em;
    background: rgba(255, 255, 255, 0.85);
    color: $tertiary;
    font-family: "BlissPro-Bold",Impact,sans-serif;

    &:hover, &:focus {
      background: #fff;
      color: $tertiary;
    }
  }
}

.top-bar-section {
  ul {
    background: $primary;
    li a {
      background: none;
    }
  }
}

.button {
  border-width: 0px 0px 4px;
  border-style: solid;
  border-color: $quaternary;
  background-color: $tertiary;
  color: white;

  &:hover, &:focus {
    background-color: $quaternary;
  }
}

ul.pagination li.current a {
  background: $tertiary;
    &:hover, &:focus {
      background: $quaternary;
      cursor: pointer;
    }
  }

.footer {
  background: $tertiary;
  color: #fff;
}

.panel {
  overflow: hidden;
}

.blog {
  .row {
    box-shadow: 0px 1px 8px 1px #e4e4e4;
    border: 1px #e4e4e4 solid;
    margin-bottom: 1.5em;
  }
}

/* =====================================
   Page Styles
   ===================================== */

.banner-home {
  background: url(../img/index/banner.jpg) no-repeat center center;
  background-size: cover;
}

.banner-about {
  background: url(../img/banner2.png) no-repeat center center;
  background-size: cover;
}

.banner-directory {
  background: url(../img/banner3.png) no-repeat center center;
  background-size: cover;
}

.banner-projects {
  background: url(../img/banner4.png) no-repeat center center;
  background-size: cover;
}

.banner-support {
  background: url(../img/banner5.png) no-repeat center center;
  background-size: cover;
}

.banner-news {
  background: url(../img/banner6.png) no-repeat center center;
  background-size: cover;
}

.banner-resources {
  background: url(../img/banner7.png) no-repeat center center;
  background-size: cover;
}

.banner-it {
  background: url(../img/banner8.png) no-repeat center center;
  background-size: cover;
}

/* ==========================================================================
   Media Queries for Responsive Design
   ========================================================================== */

/* Mobile phones in landscape or smaller tablets */
@media screen and (min-width: 28.75em) {

  

}

/* Medium tablets and up */
@media screen and (min-width: 40.5em) {
  
  h2 {
    font-size: 1.6em;
  }

  .nav li a {
  position: relative;
  overflow: hidden;
  
    &:hover {
      &:before {
        left: 90%;
      }
    }

    &:before {
    position: absolute;
    font-size: 125%;
    line-height: 2.9;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    left: 130%;
    top: 0;
    content: url(../img/arrow-staff.png);
    }
  }

  .top-bar {
    .name {
      background: none; 
        h1 a {
          color: $primary;
        }
      }
  }

  .top {
    padding: 1em 0;
    border-bottom: 1px solid #D9D9D9;
    -moz-box-shadow: 0px 5px 10px -5px #d9d9d9;
    -webkit-box-shadow: 0px 5px 10px -5px #d9d9d9;
    box-shadow: 0px 5px 10px -5px #d9d9d9;
  }

  .top-bar-section li a:not(.button) {
    color: $primary;
    background: #fff;
      
      &:hover {
        background: #fff;
        color: $tertiary;
      }
  }
}

/* ==========================================================================
   Fonts
   ========================================================================== */